* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ccc;
}
.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 100px;
}
.card {
  width: 510px;
  height: 280px;
  background-color: #fff;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0);
  border-radius: 17px;
  transition: transform 1s;
}
/* .card-wrapper:hover .card {
  transform: rotateY(120deg);
} */
.card-front {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
}
.card-front {
  display: flex;
  background: linear-gradient(100deg, rgb(255, 255, 255) 40%, rgb(38, 38, 38) 0);
}
.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left img {
  width: 80%;
}
.left h4 {
  margin: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}
.left span {
  text-transform: uppercase;
  font-size: 10;
  color: #0d5692;
}
.right {
  width: 60%;
  color: #fff;
}
.right-content {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.person {
  background-color: #1187ac;
  padding: 5px 0 5px 30px;
  margin: 30px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.person1 {
  background: linear-gradient(90deg, rgb(187, 187, 187) 10%, rgb(253, 1, 1) 0);
  padding: 5px 0 5px 60px;
  margin: 30px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  clip-path: polygon(100% 11%, 100% 50%, 100% 89%, 25% 100%, 0% 50%, 25% 0%);
}
.right-content i {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1187ac; */
  margin-right: 20px;
  margin-top: -10px;
}
.person h4 {
  text-transform: uppercase;
}
.phone {
  margin-top: -10px;
  padding-left: 25px;
}
.email {
  margin-top: -15px;
  padding-left: 20px;
}
.address {
  margin-top: -15px;
  padding-left: 15px;
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.card-back img {
  width: 60%;
  transform: translateY(-5%);
}
